  @import url('https://fonts.googleapis.com/css2?family=Raleway&family=Yeseva+One&display=swap');
*{
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}
:root{
    --gradient: linear-gradient( 45deg, #78fa6c, #0a970a, #ebe8e7, #badb7c, #12702a );
}
html{
    height:100%;
    padding:0;
}
body{
    background-image:url(images/palm1.png);
    background-blend-mode:darken;
    background-repeat:none;
    background-size:cover;
    height:100%;
}
main{
    animation:main 4.5s ease-in;
    height:75%;
}
@keyframes main{
    0%{
        opacity:0;
    }
    50%{
        opacity:.25;
    }
    100%{
        opacity:1;
    }
}
header{
    background-image:var(--gradient);
    padding:10px;
    margin-bottom:1rem;
    border-radius:95px;
}
h1{
    background-color:transparent;
    text-align:center;
    font-family: 'Yeseva One', cursive;
    padding:10px;
    animation: fade-in 1 3s ease;
}
@keyframes fade-in{
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
h2{
    text-align:center;
    background-color:transparent;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  }
  .waviy span {
    position: relative;
    display: inline-block;
    animation: waviy 2s 4 4s;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

.span1{
    background-color:transparent;
    animation: wd 1 3s ease;
}
@keyframes wd{
    0%{
        transform:translateX(-150%);
    }
    100%{
        transform:translate(0);
    }
}
.span2{
    background-color:transparent;
    animation: js 1 3s ease;
}
@keyframes js{
    0%{
        transform:translateX(300%);
    }
    100%{
        transform:translate(0);
    }
}
.intro{
    text-align:center;
}
h3{
    font-family: 'Yeseva One', cursive;
    text-align:center;
    padding:10px;
}
.lab-grid{
    background-color:#badb7c;
    display:grid;
    grid-template-columns: repeat(3, minmax(40px,250px));
    grid-gap:10px;
    padding:10px;
    transition: padding 1s;
} 
.lab-grid:hover, :focus{
    padding: 4rem 10px;
}
.lab1{
    background-color:#0a970a;
    grid-column:1;
    grid-row:1;
}
.lab2{
    grid-column: 2;
    grid-row:1
}
.lab3{
    background-color:#78fa6c;
    grid-column: 3;
    grid-row:1;
}
.lab4{
    grid-column:1;
    grid-row:2;
}
.lab5{
    background-color:white;
    grid-column:2;
    grid-row:2;
}
.lab6{
    grid-column:3;
    grid-row:2;
}
.lab7{
    background-color:#78fa6c;
    grid-column:1;
    grid-row:3;
}
.lab8{
    grid-column:2;
    grid-row:3;
}
.lab9{
    background-color:#0a970a;
    grid-column:3;
    grid-row:3;
}
.project_grid{
    justify-content:space-evenly;
    background-color:#badb7c;
    display:grid;
    grid-template-columns: repeat(3, minmax(40px,250px));
    grid-gap:10px;
    padding:10px;
    transition: padding 1s;
}
.project_grid:hover, :focus{
    padding: 4rem 10px;
}
.proj1{
    background-color:#0a970a;
    grid-column:1;
    grid-row:1;
}
.proj2{
    background-color:#78fa6c;
    grid-column:2;
    grid-row:1;
}
.proj3{
    background-color:#78fa6c;
    grid-column:1;
    grid-row:2;
}
.proj4{
    background-color:#0a970a;
    grid-column:2;
    grid-row:2;
}
.about{
    padding:10px;
}
ul{
    list-style:none;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
li{
    border: 2px solid white;
    padding:10px;
    text-align:center;
    transition: transform 2s;
}
li:hover{
    -webkit-transform: scale(1.5);
    transform:scale(1.2);
}
a{
    background-color:transparent;
    text-decoration:none;
    color:rgb(0, 0, 0);
}
a:hover{
    font-family: 'Yeseva One', cursive;
}
#grid {
    height:100%;
    transition: 500ms;
    display: grid;
    grid-template-rows: .25fr .25fr .25fr;
    gap: 3px;
    background:#ebe8e7;
  }
  
  :where(.left, .center, .right) {
    background:transparent;
    transition: 300ms;
  }
  
  :where(.left, .center, .right):hover {
    background:transparent;
  }
  .left{
    grid-row:2;
  }
.left:hover, :focus{
    margin:1rem 0;
}
  #grid:has(.left:hover, :focus) {
    grid-template-rows: .25r 1fr 0.25fr;
  }
  .center{
    grid-row:1;
  }
  #grid:has(.center:hover, :focus) {
    grid-template-rows: 0.5fr .25fr 0.25fr;
  }
  .right{
    grid-row:3;
  }
.right:hover, :focus{
    margin:1rem 0;
}
  #grid:has(.right:hover, :focus) {
    grid-template-rows: 0.25fr 0.25fr 2fr;
  }
footer p{
    font-family: 'Yeseva One', cursive;
    background-image:var(--gradient);
    padding:10px;
    text-align:center;
}
@media screen and (min-width:700px){
    body{
        background-image:url(images/palm.png);
    }
    header{
        display:flex;
        justify-content:center;
    }
    .hw{
        display:flex;
        justify-content:space-evenly;
    }
    li{
        padding:20px 0;
    }
    #grid {
        height:100%;
        transition: 500ms;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3px;
        background:#ebe8e7;
      }
      .left{
        grid-row:1;
      }
      #grid:has(.left:hover, :focus) {
        grid-template-columns: 2fr 0.5fr 0.5fr;
      }
      .center{
        grid-row:1;
      }
      #grid:has(.center:hover, :focus) {
        grid-template-columns: 0.5fr 2fr 0.5fr;
      }
      .right{
        grid-row:1;
      }
      #grid:has(.right:hover, :focus) {
        grid-template-columns: 0.5fr 0.5fr 2fr;
      }
}